
<div class="request">
        <div class="request__notisfication">
          <div class="row"> 
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p>Set up Enigma in minutes with just a few lines of code. Get notifications via email,
                       SMS, or chat as part of an existing workflow when errors occur or resurface.</p>
                       <button href="#popup1" id="open_popup1">Request for Demo</button>
              </div>
              <!-- pop start -->
              <div id="popup1" >
                  <div class="modal contact" id="bgImg1">
                     <div class="contact__close" id="close_popup1"><img  src="../assets/image/cross.svg"></div>
                      <div class="contact__form" id="pop2">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="number" placeholder="Phone">
                        <textarea placeholder="Message"></textarea>
                        <button class="send" type="button" onClick="submitContact1('success')">Send</button>
                      </div>  
                      <div class="contact__thanku" id="imga1">
                          <h1>Thank you!</h1>
                          <h2>We will get back to you.</h2>
                        </div>
                      </div>
                    </div>
              <!-- end popup -->
          </div>
      </div>
      <div class="request__footerimg"></div>
    </div>

      
<footer class="footer">
  <div class="footer__list">
        <div class="footer__list__logo ">
            <img class="" src="../assets/image/group1.svg" alt="hashlogo">
        </div>
   <div> 
  
    <a href="/feature"><p>Features</p></a>
    <a href="/blog"><p class="footer__list--blog">Blog</p></a>
      <p>  Contact</p>
    </div> 
   <div class="footer__list--social">
      <a href="https://twitter.com/hashworksco" target="_blank">
          <img class="footer__list--social--logo1 " src="../assets/image/twitter.svg" alt="hashlogo"> 
      </a>
      <a href="https://www.linkedin.com/company/hashworks?trk=top_nav_home" target="_blank">
          <img class="footer__list--social--logo2 " src="../assets/image/linkedin.svg" alt="hashlogo">
      </a>
      <a href="https://www.facebook.com/hashworks" target="_blank">
          <img class="footer__list--social--logo3 " src="../assets/image/facebook.svg" alt="hashlogo">
      </a>
   </div>
  
</div>

  <div class="footer__copyright">
     <h2>Copyright2017@ Hashworks.co</h2>
  </div>  
</footer>

<script>
    $("#open_popup1").click(function(){
    $("#popup1").css("display", "flex");
    $("#bgImg1").css("background-image",'url(' + '../assets/image/popup.jpg' + ')');
  $("#pop2").show();
  $("#imga1").hide();
  });

 $("#close_popup1").click(function(){
    $("#popup1").css("display", "none");
  }); 

$('body').click(function(e){
if(e.target.style[0] == "display"){
  $("#popup1").css("display","none");
}
});

function submitContact1(value) {
if(value === 'success') {
  $("#bgImg1").css("background-image",'url(' + '../assets/image/thanks.jpg' + ')');
  $("#pop2").hide();
  $("#imga1").show();
}
}
</script>
</body>
</html>