
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="ico" href="/assets/image/fevicon.ico"/>
    <title>Enigma</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hashGrid.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Enigma" href="/feed.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
        <header class="engima">
         
     <a href="/index"><img class="engima--logo " src="../assets/image/group.svg" alt="hashlogo"></a>
                <div class="engima--list">
                    <div class="engima--list--header">
                            <a href="/feature" class="engima--home">Features</a>
                            <!-- <a href="/blog" class="engima--home">Blogs</a> -->
                    </div>
                    <button href="#popup" id="open_popup">Request for Demo</button>
            </div>
           
<!-- popup -->
<div  id="popup" >
  <div class="modal contact" id="bgImg">
     <div class="contact__close" id="close_popup"><img  src="../assets/image/cross.svg"></div>
      <div class="contact__form" id="pop1">
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <input type="number" placeholder="Phone">
        <textarea placeholder="Message"></textarea>
        <button class="send" type="button" onClick="submitContact('success')">Send</button>
      </div>  
      <div class="contact__thanku" id="imga">
          <h1>Thank you!</h1>
          <h2>We will get back to you.</h2>
        </div>
      </div>
    </div>
  
<!-- end popup -->

           <!-- mobile view -->
            <div class="engima__toggle">     
              <div class="modal-toggle1"  href="#mobileview" id="openMobile"> 
                <img src="../assets/image/toggle.svg" alt="hashlogo"></div>
            </div>
            <div  id="mobileview" >
                <div class="modal1">
                  <div class="mobileHeader">
                      <div class="mobileHeader__close" id="close_view"><img src="../assets/image/cross.svg"></div> 
                      <a href="/feature"><h2>Features</h2></a>
                      <!-- <h2>Blogs</h2> -->
                      <button class="mobileHeader__request" href="#popup3" id="open_popup3" >Request for Demo</button>
                      <a href="/index"><img class="" src="../assets/image/group.svg" alt="hashlogo"></a>
                  </div>
                </div>
             </div>
             <!-- popup -->
             <div  id="popup3">
                <div class="modal contact" id="bgImg3">
                   <div class="contact__close" id="close_popup3"><img  src="../assets/image/cross.svg"></div>
                    <div class="contact__form" id="pop3">
                      <input type="text" placeholder="Name">
                      <input type="email" placeholder="Email">
                      <input type="number" placeholder="Phone">
                      <textarea placeholder="Message"></textarea>
                      <button class="send" type="button" onClick="submitContact3('success')">Send</button>
                    </div>  
                    <div class="contact__thanku" id="imga3">
                        <h1>Thank you!</h1>
                        <h2>We will get back to you.</h2>
                      </div>
                    </div>
                  </div>
          
        </header>

        <script>
              $("#open_popup").click(function(){
              $("#popup").css("display", "flex");
              $("#bgImg").css("background-image",'url(' + '../assets/image/popup.jpg' + ')');
            $("#pop1").show();
            $("#imga").hide();
            });
          
          $("#close_popup").click(function(){
              $("#popup").css("display", "none");
            }); 
        
        $('body').click(function(e){
          if(e.target.style[0] == "display"){
            $("#popup").css("display","none");
          }
        });

   function submitContact(value) {
      if(value === 'success') {
        $("#bgImg").css("background-image",'url(' + '../assets/image/thanks.jpg' + ')');
        $("#pop1").hide();
        $("#imga").show();
      }
    }

    $("#openMobile").click(function(){
        $("#mobileview").css("display", "flex");
      });
    
     $("#close_view").click(function(){
        $("#mobileview").css("display", "none");
      }); 
   
  $('body').click(function(e){
    if(e.target.style[0] == "display"){
      $("#mobileview").css("display","none");
    }
  });
  //mob.header

  $("#open_popup3").click(function(){
              $("#popup3").css("display", "flex");
              $("#bgImg3").css("background-image",'url(' + '../assets/image/popup.jpg' + ')');
            $("#pop3").show();
            $("#imga3").hide();
            });
          
          $("#close_popup3").click(function(){
              $("#popup3").css("display", "none");
            }); 
        
        $('body').click(function(e){
          if(e.target.style[0] == "display"){
            $("#popup3").css("display","none");
          }
        });

   function submitContact3(value) {
      if(value === 'success') {
        $("#bgImg3").css("background-image",'url(' + '../assets/image/thanks.jpg' + ')');
        $("#pop3").hide();
        $("#imga3").show();
      }
    }
      </script>
    
    </body>