
    
    .home{
        .homeAlligment{
            width: 310px;
            margin: 0 auto;
        }

        p{
            font-family: 'PTSansRegular';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #737373;
            margin: 0px auto 16px;
            width: 240px;
          }
          h2{
            font-size: 28px;
            color: #393939;
            font-family: 'rajdhaniBold';
            text-align: center;
            padding: 34px 0px 14px;
        } 
        h1{
            font-family: 'rajdhaniMedium';
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #393939;
            padding: 32px 0px 15px;
          }  
        &__img{
            height:400px;
            background-image: url("../assets/image/home/banner-01.jpg");
            background-size: cover;
            background-position: 25%;
            background-repeat: no-repeat;
         
          p{
            width: 291px;
          }
        }
        &__configure{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/configure-2.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__monitor{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/monitor3.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__resolve{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/flag4.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__feature{
            background-color: #fafafa;
            position: relative;
            height: 510px;
           &--learn{
            font-family: 'PTSansRegular';
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #393939;
                width: 86px;
                border-radius: 4px;
                border: solid 2px #38454f;
                margin: 20px auto;
           } 
           &--border1{
            position: absolute  !important;
            left: 0px !important;
            top: 278px !important;
        }
        &--border2{
            position: absolute  !important;
            right: 0px !important;
            top: 274px !important;
        }
        &--border3,&--border4,&--border5,&--border6, &--border7, &--border8{
            display: none;
           }
           &--feature1{
            width: 100px;
            height: 100px;
            background-color: #f38181;
            border-radius: 50%;
            position: relative;
            left: 14px;
            bottom: 15px;
           }
           &--feature2{
            width: 90px;
            height: 90px;
            background-color:#5e7383;
            border-radius: 50%;
            position: relative;
            left: 43px;
            top: 19px;
           }
           &__right{
            position: absolute;
            right: 20px;
            top: 239px;

            &--feature3{
                width: 100px;
                height: 100px;
                background-color:#78a693;
                border-radius: 50%;
                position: relative;
                right: 3px;
                bottom: 2px;
               }
               &--feature4{
                width: 90px;
                height: 90px;
                background-color: #efa269;
                border-radius: 50%;
                position: relative;
                right: 30px;
                top: 33px;
               }
           }
         
          .featureimage{
            padding: 17px 0px 0px 29px;
            
          }
           h5{
            width: 64px;
            font-family:'PTSansRegular';
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            position: absolute;
            top: 52px;
            left: 14px;
           }
        }


    }
    
    @media only screen and (min-width:768px) {    
    .home{
        .homeAlligment{
            width: 700px;
            margin: 0 auto;
        }
    
                p{
                    width: 240px;
                    text-align: left;
                    margin: 0px;
                  }
                  h2{
                    padding: 94px 0px 14px;
                    // width: 240px;
                    // margin: 0 auto;
                    text-align: left;
                } 
                h1{
                    padding: 32px 0px 12px;
                  }  
                &__img{
                    height:440px; 
                    background-position: 100% 100%;    
                  p{
                    width: 503px;
                    margin: 0 auto;
                    text-align: center;
                  }
                }
                &__configure{
                    &--image{
                        height:303px;
                        margin-top: 54px;
                    }   
                }
                &__monitor{
                    .last-sm{
                        padding-left: 80px;
                    }
                    &--image{
                        height:303px;
                        margin-top: 54px;
                    }   
                }
                &__resolve{
                    &--image{
                        height:303px;
                        margin: 54px 0px;

                    }   
                }
               
                &__feature{
                    height: 375px;
                    p{
                        width: 424px;
                        margin: 0px auto;
                        text-align: center;
                    }
                    h2{
                       text-align: center;
                       padding: 62px 0px 18px;
                    }
                   &--learn{
                    font-family: 'PTSansRegular';
                        font-size: 14px;
                        width: 130px;
                        margin: 20px auto;
                        padding: 5px 0px 5px;
                   } 
                   &--border3{
                       display: -webkit-box;
                    position: absolute  !important;
                    left: 0px !important;
                    top: 131px !important;
                }
                &--border4{
                    display: -webkit-box;
                    position: absolute  !important;
                    right: 0px !important;
                    top: 131px !important;
                }
                &--border1,&--border2,&--border5,&--border6, &--border7, &--border8{
                    display: none;
                   }
                   &--feature1{
                    left: 53px;
                    bottom: 175px;
                   }
                   &--feature2{
                    left: 124px;
                    top: -122px;
                   }
                   &__right{
                    position: absolute;
                    right: 20px;
                    top: 256px;
        
                    &--feature3{
                        right: 53px;
                        bottom: 175px;
                       }
                       &--feature4{
                        right: 102px;
                        top: -125px;
                       }
                   } 
                }
            }

    }
    @media only screen and (min-width:1024px) {    
        .home{
            .homeAlligment{
                width:880px;
                margin: 0 auto;
            }
          
                    p{
                        font-size: 16px;
                        width: 320px;
                      }
                      h2{
                        padding: 156px 0px 14px;
                    } 
                    h1{
                        font-size: 44px;
                        padding: 53px 0px 15px;
                      }  
                    &__img{
                        height:576px;     
                      p{
                        width: 503px;
                        font-size: 16px;
                        text-align: center;
                      }
                    }
                    &__configure{
                        &--image{
                            height: 392px;
                            margin-top: 58px;
                        }   
                    }
                    &__monitor{
                        &--image{
                            height: 392px;
                            margin-top: 58px;
                        }   
                    }
                    &__resolve{
                        &--image{
                            height: 392px;
                            margin: 58px 0px 69px;
                        }   
                    }
                    &__feature{
                        height:469px;
                        h2{
                            padding: 111px 0px 14px;
                        }
                        p{
                            width: 450px;
                        }
                    
                   &--learn{
                    font-family: 'PTSansRegular';
                        font-size: 12px;
                        width: 86px;
                        margin: 20px auto;
                   } 
                       &--border5{
                         display: -webkit-box;
                        position: absolute  !important;
                        left: 0px !important;
                        top: 175px !important;
                    }
                    &--border6{
                        display: -webkit-box;
                        position: absolute  !important;
                        right: 0px !important;
                        top: 175px !important;
                    }
                    
                    &--border3,&--border4, &--border7, &--border8{
                        display: none;
                       }
                       &--feature1{
                        left: 180px;
                        bottom: 175px;
                       }
                       &--feature2{
                        left: 257px;
                        top: -125px;
                       }
                       &__right{
                        position: absolute;
                        right: 20px;
                        top: 256px;
            
                        &--feature3{
                            right: 160px;
                            bottom: 128px;
                           }
                           &--feature4{
                            right: 237px;
                            top: -77px;
                           }
                       } 
                    }
                }
        }
        @media only screen and (min-width:1367px) {    
            .home{
                .homeAlligment{
                    width: 1108px;
                    margin: 0 auto;
                }
                        p{
                            font-size: 18px;
                            width: 360px;
                          }
                          h2{
                            padding: 224px 0px 14px;
                            font-size: 32px;
                        } 
                        h1{
                            font-size: 52px;
                            padding: 39px 0px 10px;
                          }  
                        &__img{
                            height:763px;     
                          p{
                            width: 503px;
                            font-size: 18px;
                          }
                        }
                        &__configure{
                            &--image{
                                height: 481px;
                                margin-top: 62px;
                            }   
                        }
                        &__monitor{
                            .last-sm{
                                padding-left: 107px;
                            }
                            &--image{
                                height: 481px;
                                margin-top: 62px;
                            }   
                        }
                        &__resolve{
                            &--image{
                                height: 481px;
                                margin: 62px 0px 106px;
                            }   
                        }
                        &__feature{
                            p{
                                width: 456px;
                            }
                            h2{
                                padding: 102px 0px 14px;
                            }
                        
                       &--learn{
                        font-family: 'PTSansRegular';
                            font-size: 16px;
                            width: 142px;
                            padding: 12px 0px 15px;
                            margin: 20px auto;
                       }  
                           &--border7{
                             display: -webkit-box;
                            position: absolute  !important;
                            left: 0px !important;
                            top: 170px !important;
                        }
                        &--border8{
                            display: -webkit-box;
                            position: absolute  !important;
                            right: 0px !important;
                            top: 170px !important;
                        }
                         &--border5, &--border6{
                         display: none;
                        }
                           &--feature1{
                            left: 328px;
                            bottom: 205px;
                        
                           }
                           &--feature2{
                            left: 411px;
                            top: -161px;
                           }
                           &__right{
                            position: absolute;
                            right: 20px;
                            top: 256px;
                
                            &--feature3{
                                right: 318px;
                                bottom: 133px;
                               }
                               &--feature4{
                                right: 374px;
                                top: -88px;
                               }
                           } 
                        }
                      
                    }
        
            }