
    
    .home{
        .homeAlligment{
            width: 310px;
            margin: 0 auto;
        }

        p{
            font-family: 'PTSansRegular';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #737373;
            margin: 0px auto 16px;
            width: 240px;
          }
          h2{
            font-size: 28px;
            color: #393939;
            font-family: 'rajdhaniBold';
            text-align: center;
            padding: 34px 0px 14px;
        } 
        h1{
            font-family: 'rajdhaniMedium';
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #393939;
            padding: 32px 0px 15px;
          }  
        &__img{
            height:400px;
            background-image: url("../assets/image/home/banner-01.jpg");
            background-size: cover;
            background-position: 25%;
            background-repeat: no-repeat;
         
          p{
            width: 291px;
          }
        }
        &__configure{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/configure-2.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__monitor{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/monitor3.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__resolve{
            &--image{
                height:300px;
                background-image: url("../assets/image/home/flag4.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }   
        }
        &__feature{
            background-color: #fafafa;
           &--learn{
            font-family: 'PTSansRegular';
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #393939;
                width: 86px;
                border-radius: 4px;
                border: solid 2px #38454f;
                margin: 20px auto;
           } 
        }

        &__notisfication{
            p{
            padding-top: 52px;

            }
            button{
                display: inline-block;
                width: 128px;
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                padding: 3px 0px 5px;
                background-image: linear-gradient(to left, #f38181, #f8b686);
                border: none;
                outline: none;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                margin: 44px auto 0px;
            
              }
        }
        &__footerimg{
            height:317px;
            background-image: url("../assets/image/home/footer-1.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
    
    @media only screen and (min-width:768px) {    
    .home{
        .homeAlligment{
            width: 700px;
            margin: 0 auto;
        }
    
                p{
                    width: 240px;
                    text-align: left;
                    margin: 0px;
                  }
                  h2{
                    padding: 94px 0px 14px;
                    // width: 240px;
                    // margin: 0 auto;
                    text-align: left;
                } 
                h1{
                    padding: 32px 0px 12px;
                  }  
                &__img{
                    height:440px; 
                    background-position: 100% 100%;    
                  p{
                    width: 503px;
                    margin: 0 auto;
                    text-align: center;
                  }
                }
                &__configure{
                    &--image{
                        height:303px;
                        margin-top: 54px;
                    }   
                }
                &__monitor{
                    .last-sm{
                        padding-left: 80px;
                    }
                    &--image{
                        height:303px;
                        margin-top: 54px;
                    }   
                }
                &__resolve{
                    &--image{
                        height:303px;
                        margin: 54px 0px;

                    }   
                }
                &__feature{
                   &--learn{
                    font-family: 'PTSansRegular';
                        font-size: 12px;
                        width: 86px;
                        margin: 20px auto;
                   } 
                }
        
                &__notisfication{
                    p{
                        width: 503px !important;
                        margin: 0px auto;
                        text-align: center;
                    }
                    button{
                        width: 166px;
                        font-size: 14px;
                        padding: 5px 0px 5px;
                        margin: 32px auto 0px;
                    
                      }
                }
                &__footerimg{
                    height:317px;
                }
            }

    }
    @media only screen and (min-width:1024px) {    
        .home{
            .homeAlligment{
                width:880px;
                margin: 0 auto;
            }
          
                    p{
                        font-size: 16px;
                        width: 320px;
                      }
                      h2{
                        padding: 156px 0px 14px;
                    } 
                    h1{
                        font-size: 44px;
                        padding: 53px 0px 15px;
                      }  
                    &__img{
                        height:576px;     
                      p{
                        width: 503px;
                        font-size: 16px;
                        text-align: center;
                      }
                    }
                    &__configure{
                        &--image{
                            height: 392px;
                            margin-top: 58px;
                        }   
                    }
                    &__monitor{
                        &--image{
                            height: 392px;
                            margin-top: 58px;
                        }   
                    }
                    &__resolve{
                        &--image{
                            height: 392px;
                            margin: 58px 0px 69px;
    
                        }   
                    }
                    &__feature{
                        
                            h2{
                                padding: 111px 0px 14px;
                            }
                        
                       &--learn{
                        font-family: 'PTSansRegular';
                            font-size: 12px;
                            width: 86px;
                            margin: 20px auto;
                       } 
                    }
            
                    &__notisfication{
                        p{
                            width: 615px !important;
                            text-align: center;
                        }
                        button{
                            padding: 8px 0px 8px;
                          }
                    }
                  
                }
    
        }
        @media only screen and (min-width:1367px) {    
            .home{
                .homeAlligment{
                    width: 1108px;
                    margin: 0 auto;
                }
                        p{
                            font-size: 18px;
                            width: 360px;
                          }
                          h2{
                            padding: 224px 0px 14px;
                            font-size: 32px;
                        } 
                        h1{
                            font-size: 52px;
                            padding: 39px 0px 10px;
                          }  
                        &__img{
                            height:763px;     
                          p{
                            width: 503px;
                            font-size: 18px;
                          }
                        }
                        &__configure{
                            &--image{
                                height: 481px;
                                margin-top: 62px;
                            }   
                        }
                        &__monitor{
                            .last-sm{
                                padding-left: 107px;
                            }
                            &--image{
                                height: 481px;
                                margin-top: 62px;
                            }   
                        }
                        &__resolve{
                            &--image{
                                height: 481px;
                                margin: 62px 0px 106px;
                            }   
                        }
                        &__feature{
                            
                                h2{
                                    padding: 111px 0px 14px;
                                }
                            
                           &--learn{
                            font-family: 'PTSansRegular';
                                font-size: 16px;
                                width: 142px;
                                padding: 12px 0px 15px;
                                margin: 20px auto;
                           } 
                        }
                
                        &__notisfication{
                            p{
                                width: 673px !important;
                                text-align: center;
                            }
                            button{
                                width: 195px;
                                font-size: 16px;
                                padding: 15px 0px 15px;
                                margin: 32px auto 0px;
                            
                              }
                        }
                    }
        
            }